VITE_SUPABASE_URL=https://bzyvzftnfuuxcseuqrnj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6eXZ6ZnRuZnV1eGNzZXVxcm5qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2NTkwNjIsImV4cCI6MjA5NzIzNTA2Mn0.ppeI4_CCFiPeqZILbzW-vk6NMr7HRxshAD78I9vdjSY
VITE_GA_MEASUREMENT_ID=G-X8HM56E6JN
